/**
!/README.md
!/.gitignore

!/.zshrc
!/.zshenv
!/.zprofile

!/.pkglist.txt

!/.Xresources
!/.xinitrc

!/.local
!/.local/bin
!/.local/bin/**
/.local/bin/ssh_remote_connect
!/.local/share

!/.config
!/.config/hypr
!/.config/hypr/**
!/.config/waybar
!/.config/waybar/**
!/.config/fontconfig
!/.config/fontconfig/**
!/.config/kitty
!/.config/kitty/**
/.config/kitty/kitty.conf.bak
!/.config/mako
!/.config/mako/**
!/.config/neofetch
!/.config/neofetch/**
!/.config/wofi
!/.config/wofi/**
!/.config/nvim
!/.config/nvim/**
/.config/nvim/lazy-lock.json
!/.config/i3
!/.config/i3/**
