/**
!/README.md
!/.gitignore

!/.zshrc

!/.pkglist.txt

!/.ssh
!/.ssh/config

!/.local
!/.local/bin
!/.local/bin/*

!/.config
!/.config/hypr
!/.config/hypr/**
!/.config/waybar
!/.config/waybar/**
!/.config/fontconfig
!/.config/fontconfig/**
!/.config/kitty
!/.config/kitty/**
/.config/kitty/kitty.conf.bak
!/.config/mako
!/.config/mako/**
!/.config/neofetch
!/.config/neofetch/**
!/.config/wofi
!/.config/wofi/**
!/.config/nvim
!/.config/nvim/**
