/**
!/README.md
!/.gitignore

!/.zshrc
!/.zshenv

!/.pkglist.txt

!/.useful-links.norg

!/.local
!/.local/bin
!/.local/bin/*
/.local/bin/duck.sh
!/.local/share
!/.local/share/applications
!/.local/share/applications/code-oss-url-handler.desktop
!/.local/share/applications/code-oss.desktop
!/.local/share/applications/code-url-handler.desktop
!/.local/share/applications/discord.desktop
!/.local/share/applications/microsoft-edge-stable-2.desktop
!/.local/share/applications/microsoft-edge-stable.desktop
!/.local/share/applications/microsoft-edge.desktop

!/.config
!/.config/mimeapps.list
!/.config/hypr
!/.config/hypr/**
!/.config/waybar
!/.config/waybar/**
!/.config/fontconfig
!/.config/fontconfig/**
!/.config/kitty
!/.config/kitty/**
/.config/kitty/kitty.conf.bak
!/.config/mako
!/.config/mako/**
!/.config/neofetch
!/.config/neofetch/**
!/.config/wofi
!/.config/wofi/**
!/.config/nvim
!/.config/nvim/**
!/.config/kdeglobals
!/.config/ags
!/.config/ags/**
