[Unit]
Description=Set profile for rgb on wakeup
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
ExecStart=/home/Danuu/.local/bin/rgbrefresh
User=Danuu
Environment=DISPLAY=:0

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
